* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  /* background: radial-gradient(circle at top, #1e3c72, #2a5298); */
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #222;
}
* {
  transition: background-color 0.25s ease,
              color 0.25s ease,
              transform 0.25s ease,
              box-shadow 0.25s ease,
              opacity 0.25s ease;
}


